.counter-area{
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    height: 280px;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(198, 105, 229);
}

.container{
}

h1{
    color: white;
}

.btns{
    margin-top: 30%;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    height: 28px;
    width: 70px;
    border-radius: 6px;
    cursor: pointer;
}


